@font-face {
    font-family: 'mark-pro-bold';
    src: url(./cadastro/files/mark-pro-bold.woff);
}
@font-face {
    font-family: 'mark-pro-regular';
    src: url(./cadastro/files/mark-pro-regular.woff);
}